html, body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  background-color: #272932;
}

.outside-container{
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  background-color: #4D7EA8;
  margin: 0 auto;
}

.inside-container{
  margin: 0 20px;
}

/* Header styling */

header{
  text-align: center;
  padding-bottom: 4em;
}

h1{
  font-family: 'Fascinate', cursive;
  font-size: 5rem;
  color: #B6C2D9;
  text-shadow: 9px 3px 16px rgba(0, 0, 0, 0.57);
}

input{
  font-size: 1.5rem;
  -webkit-box-shadow: 5px 5px 23px 7px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 23px 7px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 5px;
}

input:hover,
input:focus{
  -webkit-box-shadow: 0px 0px 26px 7px rgba(158, 144, 162, 0.83);
  box-shadow: 0px 0px 26px 7px rgba(158, 144, 162, 0.83);
  border: none;
}

#submit-task-btn{
  font-size: 1.5rem;
  cursor: pointer;
  background-color: #B6C2D9;
  border:none;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.444);
}

/* Task section styling */

section{
  border-top: 2px solid hsl(208, 37%, 55%);
  padding-top: 2em;
}
h2{
  text-align: center;
  font-size: 2rem;
}

ul{
  list-style: square;
  font-size: 1.2rem;
  line-height: 2.5em;
}

li{
  letter-spacing: 1.7px;
}

.delete{
  padding: 0;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: transparent;
}